pkgbase = networkmanager
	pkgdesc = Network connection manager and user applications
	pkgver = 1.46.0
	pkgrel = 3
	url = https://networkmanager.dev/
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = libx11
	checkdepends = python-dbus
	makedepends = audit
	makedepends = curl
	makedepends = dhclient
	makedepends = dhcpcd
	makedepends = dnsmasq
	makedepends = git
	makedepends = glib2-docs
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = iproute2
	makedepends = iptables
	makedepends = iwd
	makedepends = jansson
	makedepends = libmm-glib
	makedepends = libndp
	makedepends = libnewt
	makedepends = libpsl
	makedepends = libteam
	makedepends = meson
	makedepends = modemmanager
	makedepends = nftables
	makedepends = nss
	makedepends = openresolv
	makedepends = pacrunner
	makedepends = perl-yaml
	makedepends = polkit
	makedepends = ppp
	makedepends = python-gobject
	makedepends = systemd
	makedepends = vala
	makedepends = vala
	makedepends = wpa_supplicant
	source = git+https://gitlab.freedesktop.org/NetworkManager/NetworkManager.git#commit=e39f48a30a2ef7b445276a859bbd5255e4c5071d
	source = 0001-fix-ppp-noipv6.patch
	source = 0002-fix-ppp-disable-ipv6.patch
	b2sums = SKIP
	b2sums = 1e4f6c52abd11d511e5d58a2d25935001d61d75451e35be52a65964ddfb054c70b5e5151970b18b0510962583e0b0c3f050c89a6a829c4e515ac367b71dc16c6
	b2sums = 6c570f25fac1a67d73dd9d8bd8fef4fb29e4b4044a13c833a029f0c878b15847061caf5d3c67b1a447a48aaa3e5f16562116a6a44b0004ce14f8b4fc583da055

pkgname = networkmanager
	license = LGPL-2.1-or-later
	license = GPL-2.0-or-later
	depends = audit
	depends = curl
	depends = iproute2
	depends = jansson
	depends = libmm-glib
	depends = libndp
	depends = libnewt
	depends = libnm
	depends = libpsl
	depends = libteam
	depends = mobile-broadband-provider-info
	depends = wpa_supplicant
	optdepends = bluez: Bluetooth support
	optdepends = dhclient: alternative DHCP client
	optdepends = dhcpcd: alternative DHCP client
	optdepends = dnsmasq: connection sharing
	optdepends = firewalld: firewall support
	optdepends = iptables: connection sharing
	optdepends = iwd: wpa_supplicant alternative
	optdepends = modemmanager: cellular network support
	optdepends = nftables: connection sharing
	optdepends = openresolv: alternative resolv.conf manager
	optdepends = pacrunner: PAC proxy support
	optdepends = polkit: let non-root users control networking
	optdepends = ppp: dialup connection support
	backup = etc/NetworkManager/NetworkManager.conf

pkgname = libnm
	pkgdesc = NetworkManager client library
	depends = glib2
	depends = nss
	depends = systemd-libs
	depends = util-linux-libs
	provides = libnm.so

pkgname = nm-cloud-setup
	pkgdesc = Automatically configure NetworkManager in cloud
	depends = networkmanager

pkgname = networkmanager-docs
	pkgdesc = Network connection manager and user applications (API documentation)
	depends = 
